  @import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Nunito:ital,wght@0,400;1,300&display=swap');

:root {
  --backgrond: #fff;
  --foreground: #d2d3db;
  --color-text: #000;
  --toggled-color: #000;
}

[data-theme="dark"] {
  --backgrond: #000;
  --foreground: #332940;
  --color-text: #fff;
  --toggled-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  transition-duration: 0.8s;
  background-color: var(--backgrond);
  color: var(--color-text);
  font-family: 'Markazi Text', serif;
font-family: 'Nunito', sans-serif;
}

.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: var(--color-text);
  background-color: var(--foreground);
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
  color: var(--color-text);
}

.city {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  background-color: var(--foreground);
  color: var(--color-text);
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  background-color: var(--foreground);
  color: var(--color-text);
}

.weather-icon {
  width: 100px;
  background-color: var(--foreground);
  color: var(--color-text);
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  background-color: var(--foreground);
  color: var(--color-text);

}

.details {
  width: 100%;
  padding-left: 20px;
  background-color: var(--foreground);
  color: var(--color-text);
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground);
  color: var(--color-text);
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--foreground);
  color: var(--color-text);
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  background-color: var(--foreground);
  color: var(--color-text);
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
